// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
$enable-shadows: false;
$enable-gradients: true;

// Changing the body background and text
//$body-bg: #919191;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 15px;

// our custom colors
$core-color-1:    #100a41;
$core-color-2:    #0c2678;
$core-color-3:    #a7b2d4;
$core-color-4:    #0074c6;
$core-color-5:    #22bce1;

// Changing the theme colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #ecf0f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-600: #95a5a6;
$gray-700: #7b8a8b;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #2C3E50;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #E74C3C;
$orange: #fd7e14;
$yellow: #F39C12;
$green: #18BC9C;
$teal: #20c997;
$cyan: #3498DB;

$primary: $core-color-4;
$secondary: $core-color-2;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $core-color-3;
$dark: $core-color-1;

$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $core-color-1;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;

//links 
$link-color:                              #000000;
$link-hover-color:                        $core-color-2;
$link-hover-decoration:                   null;

$dropdown-bg:                       $core-color-1;

$nav-link-color:                    #FFFFFF;
$nav-link-hover-color:             $core-color-2;


//fonts 
// These are the defaults, but you can override any values

$font-family-sans-serif:
  //"Montserrat",
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif ;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);
