.DS_Store
config/config.json
data/alexa-latest.csv
data/geolitecity/latest.dat
disabled_tasks/
public/
public/js/
public/screenshots/
results/
tmp/.gitignore
tmp/
log/intrigue-sidekiq.log
config/puma.rb
lib/tasks_disabled
