<h3>Task</h3>
<div class="row">
  <%= erb :'tasks/_task_runner' %>
<div id="metadata" class="col-sm-7"></div>
</div>
<br/>
<h4>Completed Tasks</h4>
<% @completed_task_results.each do |x| %>
<ul>
<%= "<li><a href=\'/v1/task_results/#{x.id}\'> (#{x.timestamp_end}) #{x.task_name} on #{x.base_entity.type_string if x.base_entity}##{ h x.base_entity.name if x.base_entity} (#{x.entity_count})</a></li>" %>
</ul>
<% end %>

<!--
Available Task Details:
<pre>
  <% @tasks.each do |t| %>
    <%= t.metadata.to_json %>
  <% end %>
</pre>
-->
