<div id="entities"></div>
<div id="json"></div>
<script>
     function loadIt(){
         $.getJSON(window.location + ".json",
              function(data) {
                  $('#json').html(JSON.stringify(data) + '<br/><br/>');

                  // iterate over entities
                  //var mylist=$("<ul></ul>");
                  //mylist.append($("<li></li>").text(item.name));
                  //mylist.appendTo($("entities"));
              });
      }
      setInterval(loadIt,10000);

      loadIt();
</script>
