<!-- <footer class="footer">
  <a href="/v1/">Home</a> |
  <a href="/v1/config">Config</a> |
  <a href="/v1/news">News</a> |
  <a href="/v1/task_runs">View task runs</a> |
  <a href="/v1/task_runs.json"> Export all data (JSON)</a>
</footer> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/v1/">
        <img src="//avatars1.githubusercontent.com/u/7463185?v=3&amp;s=200" width="25px" alt="logo" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/v1/">Home</a></li>
        <li><a href="/v1/config">Config</a></li>
        <li><a href="/v1/news">News</a></li>
        <li><a href="/v1/task_runs">View task runs</a></li>
        <li><a href="/v1/task_runs.json"> Export all data (JSON)</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
