<footer class="footer">
  <a href="/v1/">Home</a> |
  <a href="/v1/config">Config</a> |
  <a href="/v1/news">News</a> |
  <a href="/v1/task_runs">View task runs</a> |
  <a href="/v1/task_runs.json"> Export all data (JSON)</a>
</footer>
