<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div style="width: 35px; ">
      <a class="navbar-brand" href="/v1/">
        <img src="/img/logo.png" width="100%" style="line-height: 27px;"alt="Intrigue">
      </a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><a href="/v1/">Home</a></li>
        <li><a href="/v1/news">News</a></li>
        <li><a href="/v1/task_runs">Task Runs</a></li>
        <li><a href="/v1/config">Config</a></li>
      </ul>
    </div>
  </div>
</nav>
