<h1>Configuration</h1>

<form action="/v1/config/save" method="post">
<% $intrigue_config.each do |k,v| %>
  <%= k %>: <input type="text" name="<%=k%>" value="<%=v%>"><br/>
  <% end %>
<input type="submit">
</form>

<%= erb :_footer, :layout => false %>
