<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Intrigue Core</title>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"rel="stylesheet">
<link href="/bower_components/highlightjs/styles/railscasts.css" rel="stylesheet">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/highlightjs/highlight.pack.js"></script>
<style>
  body {
    background-image:url('/img/billie_holiday.png');
    background-color:black;
    color:white;
    /* padding-top: 60px; /* When using the navbar-top-fixed */
  }

  h3 {
    margin-top: 0;
  }

  pre {
    padding: 0;
    border-radius: 0;
    border: 0;
  }

  a:hover {
    color:lightblue
  }

  .hljs {
    padding: 5;
  }

</style>
</head>
<body>

<%= erb :_footer, :layout => false %>

<div class="container-fluid">
<%= yield %>

<!-- <div class="navbar navbar-fixed-top"></div> -->

</div>
</body>
</html>
