<!DOCTYPE HTML>
<html>
<head>
<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<title>Intrigue Core</title>
<style>
    .like-pre {
      white-space: pre-wrap;
      font-family: monospace;
      display: block;
    }
    .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
    }
    .centercontents {
    text-align: center !important;
    }
    .alignrightcontents {
    text-align: right !important;
    }
    body
    {
    background-image:url('/img/grid.png');
    /* padding-top: 60px; /* When using the navbar-top-fixed */
    }
</style>
<script type="text/javascript" src=""></script>

</head>
<body>

<%= yield %>

<!-- <div class="navbar navbar-fixed-top"></div> -->

<!-- jQuery via local file -->
<script src="/js/jquery-latest.js"?></script>

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.js"></script>

</body>
</html>
