<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Intrigue Core</title>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"rel="stylesheet">
<link href="/bower_components/highlightjs/styles/railscasts.css" rel="stylesheet">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/highlightjs/highlight.pack.js"></script>
<style>
  body {
    background-image:url('/img/billie_holiday.png');
    background-color:black;
    color:white;
    /* padding-top: 60px; /* When using the navbar-top-fixed */
  }

  h3 {
    margin-top: 0;
  }

  pre {
    padding: 0;
    border-radius: 0;
    border: 0;
  }

  a:hover {
    color: lightblue;
  }

  /*ul.navbar-nav {
    margin-left: 10px;
  }*/

  .like-pre-dark {
    white-space: pre-wrap;
    font-family: monospace;
    display: block;
    background-color: black;
    background-image: none;
    color: lightgreen;
  }

  .like-pre-white {
    white-space: pre-wrap;
    font-family: monospace;
    display: block;
    background-image: none;
    color: lightgrey;
  }

  .center {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .centercontents {
    text-align: center !important;
  }

  .alignrightcontents {
    text-align: right !important;
  }

  .hljs {
    padding: 5px;
  }

  .navbar-brand {
    padding: 10px;
  }

</style>
</head>
<body>

<%= erb :_navbar, :layout => false %>

<div class="container-fluid">
<%= yield %>

<!-- <div class="navbar navbar-fixed-top"></div> -->

</div>
</body>
</html>
