<h1>News!</h1>
<table>
  <tr><td>Date</td><td>Details</td></tr>
  <tr><td></td><td></td></tr>
  <tr><td>2015-06-24</td><td>uri_screenshot added. PhantomJS ftw!</td></tr>
  <tr><td>2015-06-24</td><td>Masscan and Zmap Scan tasks added for faster scanning! Currently limited to :80 </td></tr>
  <tr><td>2015-06-17</td><td>UI overhaul, Bootstrap + new theme.</td></tr>
  <tr><td>2015-04-15</td><td>Added URI crawling and metadata parsing via an api - give it a try! (uri_nomnom). </td></tr>
  <tr><td>2015-04-07</td><td>UI now handles iteration. All entities now link back to the task runner. </td></tr>
  <tr><td>2015-04-06</td><td>Added a task to gather a profile from linkedin (linkedin_gather_person) </td></tr>
  <tr><td>2015-04-05</td><td>Added a task to gather a web page and analyze the links on the page (uri_gather_and_analyze_links) </td></tr>
  <tr><td>2015-03-23</td><td>Added a simple web directory bruteforcing task (uri_dirbuster) </td></tr>
  <tr><td>2015-03-18</td><td>We just added a news feature! It's available at /news and will deliver the latest about Intrigue straight to your brain!</td></tr>
  <tr><td></td><td></td></tr>
</table>
<%= erb :_footer, :layout => false %>
