Task Runs:
<% @results.each do |x| %>
<ul>
<%= "<li><a href=\'/v1/task_runs/#{x["id"]}\'> #{x["task_name"]} on #{ h x["entity"]["attributes"]["name"]} (#{x["entities"].count})</a></li>" %>
</ul>
<% end %>
