<!-- Statistics! -->
<div class="row">
  <div id="fingerprints" class="col-sm-6">
    <p>Fingerprints:</p>
    <p>
      <% @fingerprints.each do |fingerprint| %>
        <% fingerprint.each do |f| %>
         <a href="/<%= h @project_name%>/entities?search_string=details:<%=h f["cpe"] %>"><%= h f["cpe"] %></a><br>
      <% end %>
      <% end%>
    </p>
  </div>
</div>
