
.fill {
  min-height: 100%;
  height: 100%; 
}

.transparent-card {
  background-image: url(/img/kindajean.png);
}

body {
  background-image: url(/img/kindajean.png);
}

.modal-content {
  background-image: url(/img/kindajean.png);
}

.like-pre-dark {
  white-space: pre-wrap;
  font-size: 12px;
  font-family: monospace;
  display: block;
  border: 2;
  background-color: rgb(40, 40, 40);
  color: #ffffff;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.center-contents {
  text-align: center !important;
}

.align-left-contents {
  text-align: left !important;
}

.align-right-contents {
  text-align: right !important;
}

.hljs {
  padding: 5px;
}

.main-body {
  padding-top: 10px;
}

.navbar-brand {
  padding: 5px;
}

.btn {
  margin-top: 5px;
  margin-left: 1px;
}

.hint {
 color: light-grey;
 font-size: 10px;
}

.td-words {
  text-align:left;
}

.td-numbers {
  text-align:right;
}

.td-images {
  text-align:center;
}

.input-group > * {
  padding:5px;
}