body {
  /*background-image:url('/img/classy_fabric.png');*/
  color:black;
  /* padding-top: 60px; /* When using the navbar-top-fixed */
}

h3 {
  margin-top: 0;
}

pre {
  white-space: pre-wrap;
  padding: 0;
  border-radius: 0;
  border: 0;
}

textarea{
 background-color: white;
 color:black;
 font-family: inherit;
 font-size: inherit;
}

a:link {
  color: #242424;
}

a:visited {
  color: #242424;
}

a:hover {
  color: #000000;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: black;
}

.like-pre-dark {
  white-space: pre-wrap;
  font-size: 10px;
  font-family: inherit;
  display: block;
  border: 1;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.centercontents {
  text-align: center !important;
}

.alignrightcontents {
  text-align: right !important;
}

.hljs {
  padding: 5px;
}

.main-body {
  padding-top: 10px;
}

.navbar-brand {
  padding: 5px;
}

.btn {
  margin-top: 5px;
  margin-left: 1px;
}

.hint {
 color: light-grey;
 font-size: 10px;
}

.td-words {
  text-align:left;
}

.td-numbers {
  text-align:right;
}

.td-images {
  text-align:center;
}