.form-inline .form-group {
  margin-right:20px;
}

.transparent-card-light {
  color: #000000;
  background-color: #ffffec;
}

.transparent-card {
  background-image: url(/img/classy_fabric.png);
  color: #ffffff;
}

.transparent-table {
  background-image: url(/img/classy_fabric.png);
  color: #ffffff;
}

.almost-transparent-card {
  background-image: url(/img/classy_fabric_dark.png);
  background_color: #000000;
}

.transparent-card-light {
  color: #000000;
  background-color: #e8e8e8;
}

body {
  background-image: url(/img/classy_fabric.png);
  color: #ffffff;
}

.modal-content {
  background-image: url(/img/classy_fabric.png);
}

.like-pre-dark {
  white-space: pre-wrap;
  font-size: 12px;
  font-family: monospace;
  display: block;
  border: 2;
  background-color: rgb(40, 40, 40);
  color: #ffffff;
}

.prettyprint {
  white-space: pre-wrap;
  display: block;
  border: 2;
} 

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.center-contents {
  text-align: center !important;
}

.align-left-contents {
  text-align: left !important;
}

.align-right-contents {
  text-align: right !important;
}

.hljs {
  padding: 5px;
}

.main-body {
  padding-top: 10px;
}

.navbar-brand {
  padding: 10px;
}

.btn {
  margin-top: 5px;
  margin-left: 1px;
}

.hint {
 color: light-grey;
 font-size: 10px;
}

.td-words {
  text-align:left;
}

.td-numbers {
  text-align:right;
}

.td-images {
  text-align:center;
}

.input-group > * {
  padding:5px;
}

table.dataTable thead . {background-color:rgb(28, 28, 28);}

.borderless td, .borderless th {
  border: none;
}