<script language="JavaScript" type="text/javascript">
<!--
function set_project ( name )
{
  document.project_form.project_name.value = name;
  document.project_form.submit() ;
}
-->
</script>

Select a project:
<p>
<ul>
<% Intrigue::Model::Project.all.each do |proj| %>
  <li>
    <a href="javascript:set_project('<%= proj.name %>')"> <%= h proj.name %></a> (<%=proj.entity_count%> entities)
  </li>
<% end %>
</ul>
</p>
<form name="project_form" action="/v1/project" method="post">
  <div class="form-group">
  <label for="project_name" class="control-label">New Project</label><br/>
    <input type="text" class="form-control input-sm" id="project_name" name="project_name" style="width: 150px;" value="<%= h Intrigue::Model::Project.current_project.name %>" />
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>
