<ul>
<%  $intrigue_redis.keys("entity:*").map do |x|
  x = Intrigue::Model::Entity.find(x.split(":").last);
  %>
<li> <a href="/v1/entities/<%=x.id%>"><%= "#{x.type} #{x.attributes["name"]}" %></a></li>
<% end %>
</ul>
