<div id='content'></div>
<script>
     function loadIt(){
         $.getJSON(window.location + ".json",
              function(data) {
                  $('#content').html(JSON.stringify(data) + '<br/><br/>');
              });
      }
      setInterval(loadIt,10000);
      loadIt();
</script>
