# see: https://github.com/autogrow/RedisAlerting/wiki/systemd-service-using-rbenv
[Unit]
Description=Intrigue Dev Server

[Service]
Type=simple
User=deploy
WorkingDirectory=/core
ExecStart=/home/vagrant/.rbenv/bin/rbenv sudo /core/util/control.sh start
ExecStop=/home/vagrant/.rbenv/bin/rbenv sudo /core/util/control.sh stop
TimeoutSec=15
Restart=always
