<script>
// super hacky ajax
function getLog(){
  //get the list of tasks and rewrite the task
  $.getJSON(window.location.href + "/log", function(data) {
    log_data = data["data"];
    document.getElementById("log-body").empty
    document.getElementById("log-body").textContent = data["data"];
  });
}

window.setInterval(function(){
  getLog();  //calling every 6 seconds
}, 6000);

// call right away
getLog();

</script>

<div class="card transparent-card">
  <div class="card-title h5">Task Log</div>
  <div class="card-body">
    <div id="log" style="overflow-y: scroll; height:600px; width:100%;">
      <span id="log-body" class="like-pre-dark">
        <p>[Gathering log...]</p>
      </span>
    </div>
  </div>
</div>