Log:
<div id="log">
<p>[Gathering log...]</p>
</div>

<script>
// super hacky ajax
function getLog(){
  //get the list of tasks and rewrite the task
  $.getJSON(window.location.href + "/log", function(data) {
    log_data = data["data"];
    document.getElementById("log").empty
    document.getElementById("log").innerHTML = "<span class='like-pre-dark'>" + log_data + "</span></br>";
  });
}

window.setInterval(function(){
  getLog();  //calling every 5 seconds
}, 5000);

//call right away
getLog();
</script>
