<h3>News</h3>
<ul>
  <li>Coming Soon... v0.9.0! <!--<a href="#">v0.9 release notes</a>.--></li>
  <li>2020-01-06: v0.8.0: Spring 2021 - <a href="https://core.intrigue.io/2021/01/06/intrigue-core-v0-8/">v0.8.0 release notes</a>.</li>
  <li>2020-05-01: v0.7.1: Summer 2020 - <a href="https://github.com/intrigueio/intrigue-core/releases/tag/v0.7.1">v0.7.1 release notes</a>.</li>
  <li>2020-02-11: v0.7.0: Spring 2020 - <a href="http://core.intrigue.io/2020/02/11/intrigue-core-v0-7-released/">v0.7.0 release notes</a>.</li>
  <li>2019-02-18: v0.6.0: Spring 2019 - <a href="https://core.intrigue.io/2019/02/15/intrigue-core-v0-6-released/">v0.6.0 release notes</a>.</li>
  <li>2018-07-03: v0.5.0: Fall 2018 - <a href="https://core.intrigue.io/2018/07/03/intrigue-core-v0-5-released/">v0.5.0 release notes</a>.</li>
  <li>2018-04-14: v0.4.0: Spring 2018 - <a href="https://core.intrigue.io/2018/04/24/intrigue-core-v0-4/">v0.4.0 release notes</a>.</li>
  <li>2017-07-24: v0.3.0: Fall 2017 - <a href="http://core.intrigue.io/2017/07/17/defcon-25-release-intrigue-core-0-30/">v0.3.0 release notes</a>.</li>
  <li>2017-03-12: v0.2.0: Spring 2017 release.</li>
  <li>2016-12-24: v0.1.0: Initial release.</li>
<ul>