
<script language="JavaScript" type="text/javascript">
<!--
function set_project( name )
{
  document.project_select_form.project.value = name;
  document.project_select_form.submit() ;
}

function delete_project( name )
{
  var check = confirm('Are you sure?');
  if (check == true) {
      document.project_delete_form.project.value = name;
      document.project_delete_form.submit();
      return true;
  }
  else {
      return false;
  }
}
-->
</script>

Select a project:
<p>
<ul>
<% Intrigue::Model::Project.order(:name).each do |p| %>
  <li>
    <a href="javascript:set_project('<%= p.name %>')"> <%= h p.name %></a> (<%= p.entities.count %> entities) <a href="javascript:delete_project('<%= p.name %>')">[x]</a>
  </li>
<% end %>
</ul>
</p>
<form name="project_select_form" action="/v1/project" method="post">
  <div class="form-group">
  <label for="project" class="control-label">Create a new project:</label><br/>
    <input type="text" class="form-control input-sm" id="project" name="project" style="width: 150px;" value=""/>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>

<form name="project_delete_form" action="/v1/project/delete" method="post"><input type="hidden" id="project" name="project"/></form>
