<% if Intrigue::Model::Project.first(:name => @project_name).seeds %>
  <h3>Seeds</h3>
  <p>
  <%= Intrigue::Model::Project.first(:name => @project_name).seeds.count %> seeds:
  <ul>
    <%= Intrigue::Model::Project.first(:name => @project_name).seeds.map{|x| "<li>#{x["type"]}##{x["name"]}</li>" }.join("") %>
  </ul>
  </p>
<% end%>