
<div class="modal fade" id="task_runner_modal" tabindex="-1" role="dialog" aria-labelledby="taskModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content modal-wide">

    <div class="modal-header">
      <div class="modal-title" id="taskModalTitle">Start a New Task</div>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <%= erb :'_task_runner' %>
    </div>

  </div>
</div>
</div>
