
<div class="modal fade" id="workflow_modal_external" tabindex="-1" role="dialog" aria-labelledby="taskModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <div class="modal-title" id="taskModalTitle"><h4>Profile An Organization</h4></div>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">

      <form method="POST" id='workflow-external-form' action="/<%=@project_name%>/workflow">
        
        <input type="hidden" name="workflow" value="external_discovery_light_active">
        <input type="hidden" name="depth" value="6">

        <div class="mb-3">
          <label for="entities" class="form-label">Enter The Organization's Domains:</label>
          <textarea class="form-control" name="entitylist" rows="5" form="workflow-external-form" placeholder="dell.com\nwww.delloutlet.com"></textarea>
          <small id="passwordHelpBlock" class="form-text text-muted">
            This active workflow accepts domains, netblocks, hostnames, and ip addresses such as: 129.186.0.0/16, dell.com and www.delloutlet.com. Enter as many as you can find for your target, one per line.
          </small>
        </div>

        <input class="btn btn-primary" type="Submit" value="Submit">

      </form>
    </div>

  </div>
</div>
</div>

<script>
var textAreas = document.getElementsByTagName('textarea');

Array.prototype.forEach.call(textAreas, function(elem) {
    elem.placeholder = elem.placeholder.replace(/\\n/g, '\n');
});
</script>