<style type="text/css">
  #master {
    position: static;
    z-index: 0;
  }
  #container {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index: 10;
  }
  #overlay {
    position: absolute;
    z-index: 100;
    width: 300px;
    border: 1px solid grey;
    color: white;
    background-color: black;
  }
  #overlay a { color: lightblue};
</style>

<div id="master">
  <div id="container"></div>
  <div id="overlay"><p><h2>Control:</h2></p><br/>Select a node...</div>
</div>

<script src="https://rawgit.com/Linkurious/linkurious.js/develop/dist/sigma.min.js"></script>
<script src="https://rawgit.com/Linkurious/linkurious.js/develop/dist/plugins/sigma.parsers.json.min.js"></script>
<script src="https://rawgit.com/Linkurious/linkurious.js/develop/dist/plugins/sigma.layouts.forceAtlas2.min.js"></script>
<script>

  sigma.parsers.json("<%= @json_uri %>", {
    container: 'container',
    renderer: {
        container: document.getElementById('container'),
        type: 'canvas'
    },
    settings: {
      minNodeSize: 2,
      maxNodeSize: 6,
      defaultNodeColor: '#FFFFFF',
      defaultEdgeColor: '#00b8e6',
      defaultLabelColor:'#FFFFFF',
      defaultLabelSize: 15,
      edgeColor: 'default'
    }
  }, function(s) {

    s.graph.nodes().forEach(function(node, i, a) {
      node.x = Math.cos(Math.PI * 2 * i / a.length);
      node.y = Math.sin(Math.PI * 2 * i / a.length);
      node.size = 1;
    });

    s.startForceAtlas2({gravity:100,scalingRatio:200,slowDown:500});
    //setTimeout(function() { s.stopForceAtlas2(); }, 10000);

    s.bind('clickNode', function(e) {
      //console.log(e.type, e.data.node.label, e.data.captor);
      //get the list of tasks and rewrite the task
      var entity_location = "entities/" + e.data.node.id + ".json";

      $.getJSON(entity_location, function(data){
        $('#overlay').html('<p><h2>Control:</h2></p>Node: <a target="_blank" href=entities/' + e.data.node.id + '>'+ e.data.node.type + ": " + e.data.node.label + '</a><br/>');

        $('#overlay').append("<p>Aliases:<br/><ul>")

        for (let x of data["aliases"])
        {
            // Do something
            $('#overlay').append('<li><a target="_blank" href=entities/' + x.id + '>'+ x.name + '</a></li>');
        }

        $('#overlay').append("</ul></p>")
      });



    });

    //s.bind('overNode outNode clickNode doubleClickNode rightClickNode', function(e) {
    //    console.log(e.type, e.data.node.label, e.data.captor);
    //});
  }
 );
</script>
