<div class="row">
<div class="col-sm-6">
<h3>Projects</h3>
<p>
<%= erb :'_project_selector', :layout => false %>
</p>
</div>
<div class="col-sm-6">
<h3>News</h3>
<ul>
  <li>2018-04-14: v0.40 RSA 2018 release. See the <a href="http://wp.me/p4TdkW-7l">v0.4 release notes</a>!</li>
  <li>2017-07-24: v0.30 DEFCON 25 release. See the <a href="http://wp.me/p4TdkW-71">v0.3 release notes</a>!</li>
  <li>2017-03-12: v0.20 RSA 2017 release.</li>
  <li>2016-12-24: v0.10 Initial release.</li>
<ul>
</div>
