<div class="row">
<div class="col-sm-6">
<h3>Projects</h3>
<p>
<%= erb :'_project_selector', :layout => false %>
</p>
</div>
<div class="col-sm-6">
<h3>News</h3>
<ul>
  <li>2016-03-12: v0.2. Bugfixes, Docker support, handlers. See more at <a href="http://intrigue.io/">intrigue.io</a></li>
  <li>2016-12-24: v0.1. See more at <a href="http://intrigue.io/">intrigue.io</a></li>
<ul>
</div>
