<div class="row">
<div class="col-sm-6">
<h3>Projects</h3>
<p>
<%= erb :'_project_selector', :layout => false %>
</p>
</div>
<div class="col-sm-6">
<h3>Recent Updates</h3>
<ul>
  <li>2018-XX-XX: v0.60: [as yet unnamed] release. </li>
  <li>2018-07-03: v0.50: July 2018 - See the <a href="https://wp.me/p4TdkW-7e">v0.5 release notes</a>.</li>
  <li>2018-04-14: v0.40: RSA 2018 - See the <a href="http://wp.me/p4TdkW-7l">v0.4 release notes</a>.</li>
  <li>2017-07-24: v0.30: DEFCON 25 - See the <a href="http://intrigue.io/2017/07/17/defcon-25-release-intrigue-core-0-30/">v0.3 release notes</a>.</li>
  <li>2017-03-12: v0.20: RSA 2017 release.</li>
  <li>2016-12-24: v0.10: Initial release.</li>
<ul>
</div>
<div class="col-sm-6">
</div>
<div class="col-sm-6">
</div>
