<div class="container-fluid">
  <div class="row">
  <div class="col-sm-7">
    <h3>Projects</h3>
    <%= erb :'_project_selector', :layout => false %>
  </div>
  <div class="col-sm-5">
  <%= erb :'_news', :layout => false %>
  </div>
</div>