<div class="row">
<div class="col-sm-7">
<h3>Projects</h3>
<p>
<%= erb :'admin/_project_selector', :layout => false %>
</p>
</div>
<div class="col-sm-5">
<h3>News</h3>
<ul>
  <li>2016-12-24: 1.0 release! See more at <a href="http://intrigue.io/">intrigue.io</a></li>
<ul>
</div>
