<div class="row">
<div class="col-sm-6">
<h3>Projects</h3>
<p>
<%= erb :'_project_selector', :layout => false %>
</p>
</div>
<div class="col-sm-6">
<h3>News</h3>
<ul>
  <li>2017-07-24: v0.30 DEFCON 25 release. See more at <a href="http://wp.me/p4TdkW-71">intrigue.io</a></li>
  <li>2017-03-12: v0.20 RSA 2016 release. Bug Fixes, Docker support, handlers.</li>
  <li>2016-12-24: v0.10 Initial release.</li>
<ul>
</div>
