<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Intrigue Core</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- Fonts and icons -->
    <link href="/font/monserrat.css" rel="stylesheet" />
    <link href="/font/font-awesome.min.css" rel="stylesheet">
    
    <!-- CSS Files -->
    <!--<link href="/css/bootstrap.css" rel="stylesheet" />-->
    <link href="/css/core.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" />
    <!-- End CSS Files -->

    <!-- JavaScript Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- HighlightJS -->
    <script type="text/javascript" src="/js/highlight.pack.js"></script>

    <!-- JQUERY -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>

  </head>
  <body>
  
    <%= erb :_navbar, :layout => false %>
    <%= erb :_flash, :layout => false %>
      
    <div class="container-fluid main-body">
      <%= yield %>
    </div>
    
  </body>

</html>