<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Intrigue Core</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"rel="stylesheet">
<link href="/bower_components/highlightjs/styles/railscasts.css" rel="stylesheet">
<link href="/css/app.css" rel="stylesheet">

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/highlightjs/highlight.pack.js"></script>
</head>
<body>
  <%= erb :_navbar, :layout => false %>
  <%= erb :_flash, :layout => false %>
  <div class="container-fluid">
	   <%= yield %>
  </div>
</body>
</html>
