<h3>Scan</h3>
<div class="row">
<div class="col-sm-5">
  <form class="form-horizontal" target="_self" method="post" action="/v1/interactive/scan">
    <div class="form-group">
      <label for="task_name" class="col-xs-4 control-label">Scan Type</label>
      <div class="col-xs-6">
      <select class="form-control input-sm" name="scan_type" id="scan_type">
        <option value="internal"> Internal Scan </option>
        <option value="simple" selected="selected"> Simple Scan </option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <label for="entity_type" class="col-xs-4 control-label">Entity Type</label>
      <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="entity_type" name="entity_type" value="String">
      </div>
    </div>
    <div class="form-group">
      <label for="attrib_name" class="col-xs-4 control-label">Entity Name</label>
      <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="attrib_name" name="attrib_name" value="intrigue.io">
      </div>
    </div>
    <div class="form-group">
      <label for="attrib_name" class="col-xs-4 control-label">Depth</label>
      <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="depth" name="depth" value="1">
      </div>
    </div>
    <hr></hr>
    <input class="btn btn-primary" type="submit" value="Scan">
  </form>
  </div>
  <div id="metadata" class="col-sm-7"></div>
</div>
<br/>
<h4>Completed Scans</h4>
<% @scans.each do |x| %>
<ul>
<%= "<li><a href=\'/v1/scan_runs/#{x.id}\'> #{x.name} (#{x.id}) </a></li>"  %>
</ul>
<% end %>
