<!-- Statistics! -->
<div class="row">
  <div class="col-sm-9">
    <h3>Start</h3>
    <% if "#{request.path_info}" =~ /\/start\/upload$/ %>
      <%= erb :'_task_runner_upload' %>
    <% else %>
      <%= erb :'_task_runner' %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= erb :'_statistics' %>
    <%= erb :'_seeds' %>
  </div>
</div>
