<div class="container-fluid">
  <div class="row">    
  <div class="col-sm-12 center-contents">&nbsp;</div>
  </div>
  <div class="row">
      <div class="col-sm-12 center-contents">
        <div class="jumbotron">
          <h2 class="display-5">Start a Workflow</h2>
          <p class="lead">Intrigue Core can be used for external attack surface discovery, threat investigations, and internal security assessment</p>
          <hr class="my-4">
          <p>Below, get started by choosing the workflow that best fits your needs!</p>
          <p class="lead">
            <br>
            <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
          </p>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-sm-4 center-contents">
        <div class="card almost-transparent-card">
          <div class="card-body">
          <br>
            <img width=100px src="/img/icons/threat-white.png"><br><br>
            <div class="card-text">
              This passive workflow automates checks across a wide variety of threat data sources, enriching and creating issues where verified threats are found, vastly simplifying intelligence gathering.
            </div><br>
            <a href="#" class="btn btn-primary btn-lg" data-bs-target="#workflow_modal_threat" data-bs-toggle="modal" role="button">
            <h5>Investigate A Threat</h5></a><br><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4 center-contents">
        <div class="card almost-transparent-card">
          <div class="card-body">
            <br>
            <img width=100px src="/img/icons/org-white.png"><br><br>
              
            <div class="card-text">
              This active workflow performs discovery of assets and exposures from an organization, using provided seeds to iteratively discover attack surface. Enumerating attack surface has never been so easy!
            </div><br>

            <a href="#" class="btn btn-primary btn-lg" data-bs-target="#workflow_modal_external" data-bs-toggle="modal" role="button" >
            <h5>Profile An Organization</h5></a><br><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4 center-contents">
        <div class="card almost-transparent-card">
          <div class="card-body">
          <br>
          <img width=100px src="/img/icons/network-white.png"><br><br>
          <div class="card-text">This active workflow finds listening services and applications on a network, and deeply fingerprints them, looking for exposures. Give it network ranges and stand back!</div><br>
          <a href="#" class="btn btn-primary btn-lg" data-bs-target="#workflow_modal_internal" data-bs-toggle="modal" role="button" >
            <h5>Scan An Internal Network</h5></a><br><br>    
          </div>
        
      </div>
    </div>
  </div>
  </div>

</div>

<%= erb :'_workflow_modal_external' %>

<%= erb :'_workflow_modal_threat' %>

<%= erb :'_workflow_modal_internal' %>