<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 center-contents">
        <div class="jumbotron">
          <h1 class="display-4">Start a Workflow</h1>
          <p class="lead">Intrigue Core can be used for external attack surface discovery, threat investigations, or internal security assessment</p>
          <hr class="my-4">
          <p>Below, get started by choosing the workflow that best fits your needs!</p>
          <p class="lead">
            <br>
            <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
          </p>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-sm-4 center-contents">
        <div class="card transparent-card">
          <div class="card-body">
            <img width=100px src="/img/icons/org-white.png"><br><br>
            <a href="#" class="btn btn-primary" data-bs-target="#workflow_modal_external" data-bs-toggle="modal" role="button" >
              <h5>Profile An Organization</h5></a><br><br>This active workflow accepts domains, netblocks, hostnames, and ip addresses from a given organization or set of organizations, using these as seeds to discover as much attack surface as possible. 
          </div>
        </div>
      </div>
      <div class="col-sm-4 center-contents">
        <div class="card transparent-card">
          <div class="card-body">
          <img width=100px src="/img/icons/threat-white.png"><br><br>
            <a href="#" class="btn btn-primary" data-bs-target="#workflow_modal_threat" data-bs-toggle="modal" role="button">
              <h5>Investigate A Threat</h5></a><br><br>This passive workflow accepts domains, hostnames, and ip_addresses, automating checks for a wide variety of threat data sources, and creating issues where threats are found for further investigation.
          </div>
        </div>
      </div>
      <div class="col-sm-4 center-contents">
        <div class="card transparent-card">
          <div class="card-body">
          <img width=100px src="/img/icons/network-white.png"><br><br>
          <a href="#" class="btn btn-primary" data-bs-target="#workflow_modal_internal" data-bs-toggle="modal" role="button" >
            <h5>Scan An Internal Network</h5></a><br><br>This active workflow can be used to find listening services and applications on a local network. Give it network ranges and stand back! 
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

<%= erb :'_workflow_modal_external' %>

<%= erb :'_workflow_modal_threat' %>

<%= erb :'_workflow_modal_internal' %>